* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  background-color: black;
  color: whitesmoke;
  padding: 20px;
}

/* nav */

nav {
  display: flex;
  flex-direction: row;
}

nav img {
  background-color: #b39b9a;
}

nav ul {
  background-color: white;
  width: 100%;
  list-style-type: none;
  text-align: center;
  padding: 20px;
}

nav li {
  display: inline-flex;
}

nav a {
  text-decoration: none;
  padding: 10px;
  width: 9.375rem;
  color: black;
  font-size: medium;
}

nav a:hover {
  color: brown;
}

/* seccion 1 */

.contenido {
  display: flex;
  margin: 40px;
  flex-wrap: nowrap;
}

.articulos {
  display: flex;
  width: 100%;
  background-color: red;
}

.secciones {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: aqua;
  width: 75%;
  border-right: 3px solid black;
  
}

.img-buenosAires {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.menu-secundario {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  & a {
    margin: 2rem;
  }
}



/* footer */
footer {
  margin: 2rem;
}
