* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* nav */
.img-nav {
    margin: 1rem;
}



h1 {
    color: crimson;
    font-size: x-large;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 20px;
}

nav ul {
    background-color: #bdb293;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
display:inline-flex ;

}

nav a {
    text-decoration: none;
    color: whitesmoke;
    padding: 2rem;
    width: 10rem;
}

h2 {
    color: #B4B4B8;
    font-size: medium;
    text-align: center;
}

.Diarios {

    text-align: center;
    margin: 1rem;
}

h3 {
    color:#747264;
    font-size: medium;
}

h4 {
    color:black;
    font-size: medium;
    text-align: center;
}

/*primera seccion  */

.primeraSeccion {
    display: flex;
    align-items:center;
}

/*segunda seccion  */

.segundaSeccion {
    display: flex;
    align-items: center;
    margin: 2rem;
}

/*tercera seccion  */

/* Barra lateral */

.barra-lateral {
    padding-left: 10rem;
    font-weight: bold;
    font-style: italic;
    color: gray;
    margin: 1rem;
}

.masNoticias {
    margin: 1rem;
}



p {
text-align: left;
margin: 1rem;
margin-right: 2rem;
}


.img {
    width: 400px;
    height: 400px;
    background-image: url(buenosAires.avif);
}

a {
    color: black;
    font-size: medium;

}

a:hover {
color: blueviolet;
transition: ease-in-out 1ms;
}


/* Footer */


footer {
    margin: 2vh;
}
